.Button{
    background-color: transparent;
    border: none;
    color: wheat;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 1-px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type{
    margin-left: 0;
    padding-left: 0;
}

.Success{
    color:#5c9210;

}

.Danger{
    color:red;
}
.Button:disabled{
    color: #ccc;
    cursor: not-allowed;
}